%article.body_wrap.about
  %div
    = link_to "Terms of Service", "#", class: "tag_link about__title inline-block", data: { type: "hide_link" }
    %div{ data: { type: "hide_content" } }
      %p
        By accessing the '#{APP_CONFIG['default_pre_title']}' website (next 'Site' or '#{APP_CONFIG['default_pre_title']}') you accept the following terms.
        From that point onwards, we will treat your use of the Site as acceptance of the Terms.
      %ul
        %li The Site reserves the right to change these terms at any time.
        %li If you are a minor, then you are not allowed use the Site.
        %li The Site is presented to you as it is, without any warranty, express or implied.
        %li You understand, that there is may be content, that does not appeal to you, or your feelings of morality.
        %li You accept that the Site is not liable for any content that you may find here.
        %li You are visiting this site only for personal use.
      %p

  %div
    = link_to "Prohibited Content and Privacy Policy", "#", class: "tag_link about__title inline-block", data: { type: "hide_link" }
    %div{ data: { type: "hide_content" } }
      %p
        The '#{APP_CONFIG['default_pre_title']}' website (next '#{APP_CONFIG['default_pre_title']}' or 'Site') is the supporter of freedom in using content.
        And strict misunderstanding of nonsexual content policy.
        That's why all content on the '#{APP_CONFIG['default_pre_title']}' is completely free for personal use.
      %p
        Anyway, '#{APP_CONFIG['default_pre_title']}' is the resource for  hentai,  adult manga, anime, and cartoon only.
        We try to provide only the best quality of our content.
        '#{APP_CONFIG['default_pre_title']}' will not disclose the IP address or email address of any user except to the staff.
        We hope you share our ideals.
      %p
        But, also '#{APP_CONFIG['default_pre_title']}', in our own moral and other convictions, has some subject restrictions.
        It is not allowed any following content, like:
      %ul
        %li
          Child pornography:
          Any photograph, or photorealistic drawing or movie that depicts children in a sexual manner.
          This includes nudity, explicit sex, implied sex, or sexually persuasive positions.
        %li
          Bestiality:
          Any photograph or photorealistic drawing or movie that depicts humans having sex (either explicit or implied) with other non-human animals.
      %p
        The Site is not allowed to make public anything else except manga, anime, hentai and adult cartoon content in any ways.

  %div
    = link_to "Something about Copyright and Intellectual Property", "#", class: "tag_link about__title inline-block", data: { type: "hide_link" }
    %div{ data: { type: "hide_content" } }
      %p
        Unfortunately, in a cause of huge volume, it is impossible to verify all the copyright status of every content unit.
      %p
        If you find that your copyright has been infringed, please report us.
        Please, make sure to include all the information below:
      %ul
        %li A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is infringed;
        %li Name or id of material that is claimed to be infringing or to be the subject of infringing activity and has to be removed;
        %li Contact information  to contact you:  telephone number or electronic mail;
        %li A statement that material using is not authorized by the copyright owner or the law;
        %li A statement that the information in the notification is accurate.
      %p
        A properly filed takedown notice needs the following information to be valid.
        We should to aware you, that if any of the legally required information is missing or invalid, we cannot be legally considered to have actual knowledge of copyright infringement.
      %p
        In that case, please, send us an email with all this information.
        Normally we respond within the one day.
      %p
        Furthermore, please be aware that all copyright claims are made under perjury of law, and false claims may be prosecuted.

