%h2 New tag:
= link_to "Create a new tag...", new_dispatch_tag_path

%h2 Tags:
- if !@tags.blank?
  %table
    %tr
      %td{ width: "50px" } 
      %td{ width: "200px" } 
      %td
    - @tags.each do |tag|
      %tr
        %td #{tag.id}
        %td #{tag.name.capitalize} (#{tag.count})
        %td
          = link_to "Edit", edit_dispatch_tag_path(id: tag.id)
          = link_to "Delete", dispatch_tag_path(id: tag.id), method: :delete

  = paginate @tags
  %br
- else
  No tags to show...
