%h2 New tag:
= link_to "Create a new tag...", new_dispatch_tag_path

%h2 Tags:
- if !@tags.blank?
  %table.tag-table
    %tr
      %th{ width: "50px" }=sortable "id"
      %th{ width: "200px" }=sortable "name"
      %th Action
    - @tags.each do |tag|
      %tr
        %td #{tag.id}
        %td #{tag.name.capitalize} (#{tag.count})
        %td
          = link_to "Edit", edit_dispatch_tag_path(id: tag.id), class: "action"
          = link_to "Delete", dispatch_tag_path(id: tag.id), method: :delete, class: "action"

  = paginate @tags
  %br
- else
  No tags to show...
