- children = group.children

%h3.tag_part= group.name
%div
  %ul.tag_part
    - if children.present?
      %li
        .accordion
          = render partial: "shared/children_tags_for_form",
                   collection: children.includes(:tags, :children), as: :group,
                   locals: { tags_for: tags_for, tags_for_tag_ids: tags_for_tag_ids }

    - if tags_for.instance_of?(Image)
      - group.tags.each do |tag|
        %li
          = check_box_tag 'image[tag_ids][]', tag.id, tags_for_tag_ids.include?(tag.id), { id: "image_tag_ids_#{tag.id}" }
          = label_tag "image_tag_ids_#{tag.id}", tag.name
    - else
      - group.tags.each do |tag|
        %li
          = check_box_tag 'group[tag_ids][]', tag.id, tags_for_tag_ids.include?(tag.id), { id: "group_tag_ids_#{tag.id}" }
          = label_tag "group_tag_ids_#{tag.id}", tag.name
