= semantic_form_for group, url: group.new_record? ? dispatch_groups_path : dispatch_group_path(group.id) do |f|
  
  = f.inputs do
    = f.input :parent, as: :select, collection: Group.all.collect{|g| [g.name, g.id] }
    = f.input :name
    
  = f.actions
  = render partial: "shared/tags_for_form", locals: { f: f, tags_for: group }