%h2 Next image from list:

%article{ style: "float: left" }
  - if @img.presence
    = form_for(Image.new(), url: stack_path(), method: :post, html: { multipart: true }) do |f|
      = f.button "Accept", value: "accept"
      = f.button "Deny", value: "deny"

      = image_tag("#{@img}", class: "view_img")
      = hidden_field_tag :image, @img

      = render partial: "dispatch_imgs/tags_form", locals: { tags: @tags, image: f.object }
  - else
    No images...