%h2 Next image from list:

%article
  - if flash.present?
    - flash.each do |key, value|
      %div{class: "alert alert-#{key}"}= value
  - if @img.presence
    = form_for Image.new, url: stack_path, html: { multipart: true } do |f|
      = f.button 'Accept', value: 'accept'
      = f.button 'Deny', value: 'deny'
      = render partial: 'tags_for_form', locals: { all_tags: @tags, image: @img }

      = image_tag("#{@img}", class: "view_img")
      = hidden_field_tag :image, @img
      .clear

  - else
    No images...
