%h2 New image:
= link_to("Add a new image...", new_dispatch_img_path)

%h2 Images list:
- if @imgs.present?
  - @imgs.each do |img|
    .edit_img
      = image_tag(img.image.url(:thumb))
      .edit_area
        = link_to "Edit", edit_dispatch_img_path(img.id), alt: "edit"
        = link_to "Delete", dispatch_img_path(img.id), method: :delete, alt: "delete", confirm: "Are you sure?"
        = link_to "Show", img.image.url(:original), alt: "show"

  = paginate @imgs

- else
  No imgs to show...