%h2 Next image from list:

%article

  - if @img.presence
    = form_for(Image.new(), url: stack_path(), method: :post, html: { multipart: true }) do |f|
      = f.button "Accept", value: "accept"
      = f.button "Deny", value: "deny"
      .clear
      = render partial: "dispatch_imgs/tags_for_form", locals: { all_tags: @tags, image: @img }

      = image_tag("#{@img}", class: "view_img")
      = hidden_field_tag :image, @img

  - else
    No images...