%h2 Next image from list:

%article
  - if @img.presence
    = form_for Image.new, url: dispatch_stack_index_path, html: { multipart: true } do |f|
      .sidebar-l
        = render partial: "shared/warns_for_form", locals: { f: f, warns: @warns, img: @img }
        = render partial: "shared/tags_for_form", locals: { f: f, img: @img }

      .view_img
        = f.button 'Accept', value: 'accept'
        = f.button 'Deny', value: 'deny'
      .view_img
        = image_tag("/#{@img}")
      .view_img.tags_selected{ data: { type: 'tags_selected'} }

      = hidden_field_tag :image, @img
  - else
    No images...
