= render partial: "meta/tags_index_meta", locals: { keywords: @tags }

%h2 Tags list:

- if @tgs.present?
  - @tags.each do |tag|
    = link_to "#{tag.name} (#{tag.count})", tag_path(tag.id), class: "tag_link"
- else 
  No tags found...

= paginate @tags