= render partial: "meta/tags_index_meta", locals: { keywords: @tags }

%h2 Tags list:

- @tags.each do |tag|
  = link_to "#{tag.name} (#{tag.count})", tag_path(tag.id), class: "tag_link"

= paginate @tags