%article{ class: "image_list_wrap" }
  - if @cur_tag.presence
    %h2= "Current tag: #{@cur_tag.name.capitalize}"
    
  - if imgs.present?
    - imgs.each do |img|
      = link_to image_path(img.id) do
        = image_tag(img.image.url(:thumb), class: "image_thumbs")
  - else
    No images present...

  = paginate imgs