- cur_tag = nil if local_assigns[:cur_tag].blank?
- search_tags = nil if local_assigns[:search_tags].blank?
- content_for :head do
  = rel_next_prev_link_tags imgs

%section{ class: "image_list_wrap#{' m-92-top' unless cur_tag.present? || search_tags.present? }" }

  - # TODO: BAD - may be yield
  - if cur_tag.present?
    %h2= "Current tag: #{cur_tag.name.capitalize}"
  - elsif search_tags.present?
    %h2= "Current tag: #{search_tags.map{|tag| tag.capitalize}.join(', ')}"

  - if imgs.present?
    %ul.image-list__block
      - imgs.each do |img|
        %li= link_to image_tag(img.image.url(:thumb)), image_path(img.id), class: "image_thumbs"
  - else
    No images present...

  = paginate imgs
