- cur_tag = local_assigns[:cur_tag]
- search_tags = local_assigns[:search_tags]
- warn = local_assigns[:warn]
- content_for :head do
  = rel_next_prev_link_tags imgs

%section{ class: "image_list_wrap#{' m-92-top' unless cur_tag || search_tags || warn }" }

  - # TODO: BAD - may be yield
  - if cur_tag
    %h2= "Current tag: #{cur_tag.name.capitalize}"
  - elsif search_tags
    %h2= "Current tag: #{search_tags.map{|tag| tag.capitalize }.join(', ')}"
  - elsif warn
    %h2= "Current warn: #{warn.name.capitalize}"

  - if imgs.present?
    %ul.image-list__block
      - imgs.each do |img|
        %li= link_to image_tag(img.image.url(:thumb), alt: img.alt), image_path(img.id), class: "image_thumbs"
  - else
    No images present...

  = paginate imgs
