= render partial: "meta/images_show_meta", locals: { image_name: @img.image_file_name, keywords: @tags  }

%aside.r-sidebar
  = render partial: "images/warns_list", locals: { warns: @warns, selected_warn_id: @img.warn_id }
  = render partial: "tags/tags_list", locals: { tags: @tags }

%article{ class: "image-show__wrap" }
  = link_to "< Back", :back, class: "tag_link tag-link__block"
  = link_to @img.image.url(:original), target: "_blank" do
    = image_tag(@img.image.url(:medium), class: "image-show-wrap__img", alt: @img.alt)

= render partial: 'also_images_section', locals: { also_images: @also_images }
