!!! 5
%html#document{html_attrs, :lang => 'en'}
  %head
    = render partial: "meta/default_meta"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :javascript_includes
    = csrf_meta_tags
  %body
    #wrapper
      %header
        = render partial: "layouts/for_login"
        %nav#menu
          %ul
            %li= link_to_unless_current('Images', images_path)
            %li= link_to_unless_current('Tags', tags_path)
            %li= link_to_unless_current('About', about_path)
        .header__logo Hentaria
        .clear-legacy
        .header__slider
          = form_tag "#", {class: "header-search"}
          = text_field_tag "search_query", nil, class: "header-search__input"
          = submit_tag "", class: "header-search__submit icon-search"

      = alert_notifier

      = yield

      .clear
      .footer
