!!! 5
%html#document{html_attrs, :lang => 'en'}
  %head
    %meta{'charset' => 'utf-8'}

    = stylesheet_link_tag "application", :media => "all"
    //= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "application"
    = yield :javascript_includes
    = csrf_meta_tags
  %body
    #wrapper
      %header
        = render partial: "layouts/for_login"
        %nav#menu
          %ul
            %li= link_to 'Home', root_path
            %li= link_to_unless_current 'E_Images', dispatch_imgs_path
            %li= link_to_unless_current 'E_Tags', dispatch_tags_path
            %li= link_to_unless_current 'E_Groups', dispatch_groups_path
            %li= link_to_unless_current 'E_Stack', dispatch_stack_index_path
        .header__logo
          Hentaria
          %span .beta
        .clear-legacy

      = alert_notifier

      = yield

      .clear
